#inner {
position: absolute;
left: 50%;
top: 50%;
text-align: center; 
width:960px;
height:416px;
margin-left: -480px; /*half width*/
margin-top: -208px; /*half height*/
}

.container {
z-index:1;
    display: table;
    border-collapse:collapse
}
.column {
z-index:1;
    display:table-row;
}
.cell {
    z-index:1;
    display: table-cell;
    border: None;
    left: 0px;
    width:32px; 
    height:32px;
    background: url('../images/sprite/default/white.png') -32px -32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.playerMoveLeft {
  z-index:2;
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 32px;
  height: 32px;
  background: url('../images/sprite/default/player/Human.png');
  background-position-y: -32px;
  -webkit-animation: move .4s steps(8) infinite; /* Safari 4+ */
  -moz-animation: move .4s steps(8) infinite;/* Fx 5+ */
  -o-animation: move .4s steps(8) infinite; /* Opera 12+ */
  animation: move .4s steps(8) infinite; /* IE 10+ */
}

.playerMoveRight {
  z-index:2;
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 32px;
  height: 32px;
  background: url('../images/sprite/default/player/Human.png');
  background-position-y: 0px;
  -webkit-animation: move .4s steps(8) infinite; /* Safari 4+ */
  -moz-animation: move .4s steps(8) infinite;/* Fx 5+ */
  -o-animation: move .4s steps(8) infinite; /* Opera 12+ */
  animation: move .4s steps(8) infinite; /* IE 10+ */
}

.playerMoveUp {
  z-index:2;
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 32px;
  height: 32px;
  background: url('../images/sprite/default/player/Human.png');
  background-position-y: -64px;
  -webkit-animation: move .4s steps(8) infinite; /* Safari 4+ */
  -moz-animation: move .4s steps(8) infinite;/* Fx 5+ */
  -o-animation: move .4s steps(8) infinite; /* Opera 12+ */
  animation: move .4s steps(8) infinite; /* IE 10+ */
}

.playerMoveDown {
  z-index:2;
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 32px;
  height: 32px;
  background: url('../images/sprite/default/player/Human.png');
  background-position-y: -96px;
  -webkit-animation: move .4s steps(8) infinite; /* Safari 4+ */
  -moz-animation: move .4s steps(8) infinite;/* Fx 5+ */
  -o-animation: move .4s steps(8) infinite; /* Opera 12+ */
  animation: move .4s steps(8) infinite; /* IE 10+ */
}


@-webkit-keyframes move {
	100% { background-position-x: -256px;}
}
