@(width : Int, height : Int)
<!DOCTYPE html>
<html>
	<head>
        <script type="text/javascript" src="@routes.Assets.at("lib/jquery.js")"></script>

	    <script type='text/javascript' src='@routes.Assets.at("javascripts/connection.js")'></script>
        
        <link rel='stylesheet' type='text/css' href='@routes.Assets.at("stylesheets/main.css")'>
        
	    
	</head>
	<body>
		<br/>
            <div id="outer" style="width:100%">  
                <div id="inner">
                    @for(y <- 0 until height) {
                        <div class="container">
                            <div class="column">
                                @for(x <- 0 until width) {
                                    <div id="@x,@y" class="cell">
                                    </div>
                                 }
                              </div>
                          </div>
                    }
      
                </div>
            </div>
		<p id="status"></p>
        
        <script>
            const PLAYGROUND_WIDTH = @width;
            const PLAYGROUND_HEIGHT = @height;
        </script>
	</body>
</html>